@model IEnumerable<ToDo>

@{
    ViewData["Title"] = "ToDos";
}

<div class="row">
    <div class="col-md-12">
        <h2>Add a ToDo up here => <a asp-controller="ToDo" asp-action="Add">Add</a></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var todo in Model)
        {
            <div>@todo.Title</div>
            <div>@todo.Description</div>
            <hr />
        }
    </div>
</div>