@{
    ViewData["Title"] = "ToDos";
}

<div class="row">
    <div class="col-md-12">
        <h2>Add a ToDo up here => <a asp-controller="ToDo" asp-action="Add">Add</a></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Eventually there will be a list of your todos here.</h2>
    </div>
</div>