<div class="jumbotron">
    <h1 class="text-center">ToDos!</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center">Where the todos go yo.</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6 col-md-offset-3">

    </div>
</div>