<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom,#364c68,#6a7d99); margin-bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-md-center text-uppercase">hay hay hay</h1>
            </div>
        </div>
    </div>
</div>

<img src="images/cats-q-g-1920-480-5.jpg" class="img-fluid" alt="Awesome cat picture" />