@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-1 text-center">How large</h1>
        <p class="lead text-center">Some cool text</p>
    </div>
</div>

<div class="" style="background-image: url('/images/testimg.jpg'); background-size: cover; height: 360px;"></div>